title:               Wiki
include:             ['_pages']
exclude:             ['_includes/notes_graph.json']
# You may need to change the base URL depending on your deploy configuration.
# Specifically, when using GitHub Pages, the baseurl should point to where GitHub
# Pages deploys your repository (which is usually the repository name).
baseurl:             '/jekyll-wiki'
# You may also need to set the URL depending on your username
url:                 'https://ifcoltransg.github.io'
# And the edit file base url if you want people to edit pages
new_file_base: "https://github.com/ifcoltransg/jekyll-wiki/edit/main"
# And the new file base url if you want people to create new pages
new_file_base: "https://github.com/ifcoltransg/jekyll-wiki/new/main?filename="


# If you are using a host that cannot resolve URLs that do
# not end with .html (such as Neocities), set this to 'true'.
use_html_extension:  false

# Set to `true` to open non-internal links in new tabs, or
# set to `false` to open non-internal links in current tab.
open_external_links_in_new_tab: false

# Set to `true` to replace tweet URLs with Twitter embeds.
# Note that doing so will negatively the reader's privacy
# as their browser will communicate with Twitter's servers.
embed_tweets: false

# Set to `true` to detect links from wiki pages that don't
# lead anywhere, and convert them to links to create a page
style_nonexistent_links: false

permalink:           pretty
relative_permalinks: false

plugins:
  - jekyll-relative-links
  # - jekyll-last-modified-at

sass:
  sass_dir:          _sass
  style:            :compressed

collections:
  wiki:
    output: true
    permalink: /:slug

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_wiki/**/*.md"
    values:
      layout: "note"

relative_links:
  collections: true
